@media (max-width: 768px) {
    .noticia {
        flex-direction: column;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

body {
    background-color: #f4f6f9;
    color: #09090b;
    padding-top: 30px;
    background-color: rgb(216, 214, 214);
    margin: 0;
}

main {
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px;
    padding-top: 20px;
    padding-bottom: 10px;
}

header {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #2D3133;
}


nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    color: #3C5766;
    font-weight: 500;
    transition: 0.3s;
    font-size: 1rem;
}

h2 {
    text-align: center;
    margin: 20px;
    color: #2D363C;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #1a3c8b;
    display: inline-block;
    padding-bottom: 5px;
}

h3 {
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin: 20px;
    font-size: 18px;
    margin-bottom: 8px;
    width: 60%;
    color: #333;
}

img {
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    width: 100%;
    transition: 0.3s;
}

time {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.categoria {
    margin-bottom: 40px;
}

.noticia {
    display: flex;
    gap: 20px;
}

.noticia article {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

#esportes {
    background-color: #679CDB;
    padding: 20px;
    border-radius: 5px;
}

#economia {
    background-color: #DB9367;
    padding: 20px;
    border-radius: 5px;
}

#tecnologias {
    background-color: #97DADB;
    padding: 20px;
    border-radius: 5px;
}

#politica {
    background-color: #C7AE9F;
    padding: 20px;
    border-radius: 5px;
}

.btn-noticias  {
    font-size: 14px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;

}

#esportes .btn-noticias {
    background-color: #679CDB;
}

#economia .btn-noticias {
    background-color: #DB9367;
}

#tecnologias .btn-noticias {
    background-color: #97DADB;
}

#politica .btn-noticias {
    background-color: #C7AE9F;
}